.content{
    padding-top: 50px;
}

.post{
    color:crimson;
}

.date{
    padding-top: 10px;
    font-size: 0.5cm;
}

.comment{
    font-size: 0.7cm;
}

.postcontent{
    font-size: 0.7cm;
}

.content{
    border: 10cm 10cm 10cm 10cm;
}

.name{
    color: brown;
}

.post-form{
    font-size: 0.5cm;
    padding-bottom: 10px;
}

.new-form{
    background-color: antiquewhite;
}