{% extends "blog/base.html" %}

{% block content %}
    <!-- Your draft_post class has inherited the ListView class. It automatically shares the 
    context object based on the models class. Here, you have written model = post, so context_object_name is posts -->
    {% for post in posts %}
        <div class="post">
            <p class="date">Created: {{ post.created_date|date: 'd-m-y'}}</p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
            <p>{{post.text|truncatechars:200}}</p>
            <!-- The truncatechars filter truncate the value if it is longer than the specified number of characters 
            If a value gets truncated, the value will add three dots (...) at the end of the string. -->
        </div>


    {% endfor %}

{% endblock %}